.weui-form-preview__hd .weui-form-preview__label{
  color: black;
}
.weui-form-preview__bd .weui-form-preview__label{
  color: black;
}
.weui-form-preview__bd .weui-form-preview__value{
  color: black;
}
