.UserImg{
  display: inline-flex;
}
.userimg{
  margin: auto;
}
.UserId{
  display: inline-flex;
}
.userid{
  margin: auto;
}

@media screen and (max-width: 1024px){ /*手机端响应式布局*/

}
@media screen and (min-width: 1025px){ /*电脑端相应式布局*/

}
