#userId{
  padding-bottom: 20px;
}

#userImg{
  margin-top: 10px;
}
.userimg{
  float: left;
  margin-left: 65px;
  margin-top: 11px;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  height: 48px;
  width: 48px;
  margin-left: 5px;
}

.avatar img[lazy='error'] {
  height: 48px;
  width: 48px;
}

.avatar img[lazy='loaded'] {
  position: absolute;
  height: 62px;
  left: 0px;
  width: 48px;
}

.UserId{
  float: left;
  margin-left: 65px;
}

#userName{
  padding-bottom: 20px;
}

.UserName{
  float: left;
  margin-left: 65px;
}

.userphone{
  float: left;
  margin-top: 6px;
}

.UserPhone{
  float: left;
  margin-left: 65px;
}

.phone{
  display: inline-block;
  width: 150px;
}

.submit{
  float: left;
  margin-left: 65px;
}

@media screen and (max-width: 1024px){ /*手机端响应式布局*/

}
@media screen and (min-width: 1025px){ /*电脑端相应式布局*/

}
