@import '~element-ui/packages/theme-chalk/src/common/var.scss';

.page-wrapper {
  position: fixed;
  right: 0;
  top: 80px;
  bottom: 0;
  border-left: none;
  .tabs {
    height: 100%;
    overflow-y: scroll;
    .el-tabs__header {
      margin-left: 1em;
    }
  }
  .logs-dialog {
    .vux-close {
      margin-top: 8px;
      margin-bottom: 8px;
    }
    .content-box {
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
  }
  .floatButton {
    position: fixed;
    right: 5em;
    bottom: 3em;
    border: 1px solid $--color-primary;
    border-radius: 50%;
    background: $--color-primary;
    height: 3em;
    width: 3em;
    overflow: hidden;
    display: table;
    > button {
      height: 100%;
      width: 100%;
      border: none;
      background: $--color-primary;
      color: #fff;
      font-size: 1.8em;
      &:focus {
        outline: none;
      }
      &:hover{
        background: $--color-primary-light-1;
        cursor: copy;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .page-wrapper {
    left: 20%;
  }
}

@media screen and (max-width: 1023px) {
  .page-wrapper {
    left: 0;
  }
}
